@white-color: #ffffff;

@font-face {
  font-family: Raleway-Regular;
  src: url("../fonts/Raleway/Raleway-Regular.ttf");
}

.nav-container {
  background-color: #37495e;
  display: flex;
  justify-content: space-around;
}

.logo-container {
  align-self: center;
}

.logo {
  margin: 10px;
}

.toggle-button {
  align-self: center;
}

.toggle-line {
  content: "";
  display: block;
  width: 30px;
  height: 3px;
  background-color: #ffffff;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.menu {
  list-style: none;
  position: absolute;
  background-color: #37495e;
  right: 0;
  left: 0;
  margin: 53px auto auto;
  padding-inline-start: initial;
  z-index: 1;
  transform: translate(-100%);
  transition: 0.5s;
}

.menu.responsive {
  transform: translate(0%);
  transition: 1s;
}

.menu-element-container {
  margin: 10px auto;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.menu-element-container:hover {
  background-color: #ff8b38;
}

.menu-element {
  color: @white-color;
  font-family: "Open Sans - Semibold", sans-serif;
  font-size: 20px;
  font-weight: 400;
  opacity: 0.69;
  text-decoration: none;
}

.header-section-container {
  background: url("../img/header-background.jpg") no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.submenu {
  display: none;
}

.header-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-section_title {
  color: @white-color;
  font-family: Raleway-Regular, sans-serif;
  font-size: 32px;
  font-weight: 400;
  text-transform: uppercase;
  padding-top: 10px;
  text-align: center;
  margin: 0 10px;
  max-width: 512px;
}

.header-section_title:after {
  content: "";
  display: block;
  width: 74px;
  height: 2px;
  background-color: @white-color;
  margin: 0 auto;
  margin-top: 36px;
  margin-bottom: 20px
}

.header-section_title_note {
  color: @white-color;
  font-family: Raleway-Regular, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 23px;
  opacity: 0.8;
  text-align: center;
  margin: 10px;
  max-width: 461px;
}

.download-button {
  border: 2px solid @white-color;
  color: @white-color;
  outline: none;
  padding-top: 10px;
  padding-bottom: 9px;
  padding-left: 32px;
  padding-right: 32px;
  font-family: "Open Sans - Semibold", sans-serif;
  font-size: 15px;
  font-weight: 400;
  margin: 0 auto 15px;
  cursor: pointer;
}

.download-button:hover {
  background-color: #ff8b38;
}

.trial-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto 20px;
  background-color: @white-color;
}

.trial_title_background {
  background-color: #f5f5f5;
}

.trial-inscription {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin: 15px;

  span {
    color: #ff8b38;
  }
}

.get-started_button {
  background-color: #ff8b38;
  color: @white-color;
  margin-top: 20px;
  padding: 21px;
  text-align: center;
  font-family: "Open Sans - Semibold", sans-serif;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
}

.get-started_button:hover {
  background-color: #37495e;
}

.get-started_inscription {
  color: @white-color;
  margin: 15px;
  text-align: center;
  font-family: "Open Sans - Semibold", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.trial-input-label {
  margin: 15px auto;
}

.trial-input {
  border: none;
  border-bottom: 1px solid #d6d6d6;
  opacity: 0.69;
  outline: none;
}

@media screen and (min-width: 768px) {
  .nav-container {
    justify-content: space-between;
  }

  .logo {
    margin: 15px;
    margin-left: 60px;
  }

  .toggle-button {
    display: none;
  }

  .menu {
    position: static;
    display: flex;
    transform: none;
    transition: initial;
    margin: initial;
  }

  .menu-container {
    display: flex;
    align-items: center;
  }

  .menu {
    margin-right: 8px;
  }

  .menu-element-container {
    margin: initial;
    align-items: center;
    height: 72px;
  }

  .menu-element {
    font-size: 14px;
    padding: 28px;
  }

  .menu-container:hover + .submenu {
    display: flex;
  }

  .submenu {
    position: absolute;
    z-index: 1;
    width: 100%;
    background-color: #ffffff;
    margin-top: 72px;
    height: 170px;
    display: none;
    justify-content: space-around;

    .submenu-preview-container {
      padding: initial;
      display: flex;

      .submenu-preview {
        display: flex;
        flex-direction: column;
        margin-left: 5px;
      }

      .submenu-preview-title {
        color: #86878b;
        font-size: 14px;
        font-family: "Open Sans - Semibold", sans-serif;
        font-weight: 400;
      }

      .submenu-image {
        width: 100px;
      }
    }

    .submenu-links-container {
      display: flex;
    }

    .links {
      padding: initial;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 5px;
      margin-right: 5px;
      margin-top: 20px;
    }

    .link {
      cursor: pointer;
      list-style-type: none;
      color: #86878b;
      font-size: 14px;
      font-family: "Open Sans - Semibold", sans-serif;
      font-weight: 400;
      margin-top: 5px;
    }

  }

  .header-section-container {
    flex-direction: row;
  }

  .header-info-container {
    align-items: initial;
  }

  .header-section_title {
    text-align: left;
    margin-top: 60px;
    margin-left: 60px;
  }

  .header-section_title:after {
    margin: initial;
    margin-top: 36px;
    margin-bottom: 20px;
  }

  .header-section_title_note {
    text-align: left;
    margin-left: 60px;
  }

  .download-button {
    width: 70px;
    margin: initial;
    margin-top: 45px;
    margin-left: 60px;
  }

  .header-content-container {
    margin-right: 50px;
  }

  .trial-container {
    margin: initial;
    margin-top: 70px;
    margin-right: 36px;
    margin-bottom: 100px;
    margin-left: 70px;
  }

  .trial-input-label {
    margin: 30px;
  }
}

@media screen and (min-width: 992px) {
  .logo-container {
    margin-right: 130px;
  }

  .header-section-container {
    justify-content: space-between;
  }

  .trial-container {
    width: 360px;
    height: 314px;
  }

  .trial-inscription {
    text-align: center;
  }

  .trial-input {
    width: 285px;
  }
}

@media screen and (min-width: 1224px) {
  .logo {
    margin-left: 149px;
  }

  .menu {
    margin-right: 121px;
  }

  .submenu {
    justify-content: space-between;


    .submenu-preview-container {
      margin-left: 40px;


      .submenu-preview {
        margin-left: 30px;

        .submenu-image {
          width: 130px;
        }
      }
    }

    .submenu-links-container {
      .links {
        margin-top: 40px;
        margin-right: 25px;
        margin-left: 25px;
      }
    }
  }

  .header-section_title {
    margin-top: 203px;
    margin-left: 149px;
  }

  .header-section_title_note {
    margin-left: 149px;
  }

  .download-button {
    padding-top: 11px;
    padding-left: 31px;
    padding-right: 31px;
    padding-bottom: 10px;
    margin-left: 149px;
    margin-bottom: 140px;
  }

  .trial-container {
    margin-top: 140px;
    margin-right: 148px;
    margin-bottom: 140px;
  }
}

@media screen and (min-width: 1600px) {
  .submenu {
    justify-content: space-around;
  }
}
