.testimonial-container {
  padding-top: 30px;
  padding-bottom: 30px;
}
.testimonial-title {
  font-family: Raleway-Regular, sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 43px;
  text-transform: uppercase;
  text-align: center;
}
.testimonial-title:after {
  content: "";
  display: block;
  width: 64px;
  height: 2px;
  background-color: #ff8b38;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
}
.testimonial-note {
  color: #86878b;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  padding: 10px;
}
.reviews-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.left-arrow {
  display: none;
}
.right-arrow {
  display: none;
}
.review-elements {
  list-style: none;
  padding: initial;
}
.review {
  width: 273px;
  height: 147px;
  margin-top: 35px;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}
.review .review-text {
  padding-left: 12px;
  padding-right: 12px;
  color: #86878b;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
}
.review:after {
  content: "";
  position: absolute;
  border: 15px solid;
  border-color: #f5f5f5 transparent transparent;
  bottom: -30px;
  left: 20px;
}
.reviewer-container {
  display: flex;
  align-items: center;
  padding-top: 25px;
}
.reviewer-container .reviewer-image {
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
}
.reviewer-container .reviewer-name-container {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}
.reviewer-container .reviewer-name {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin: initial;
}
.reviewer-container .reviewer-position {
  color: #86878b;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: initial;
}
@media screen and (min-width: 768px) {
  .testimonial-container {
    padding-top: 108px;
    padding-bottom: 101px;
    display: flex;
    margin: auto;
    justify-content: space-around;
  }
  .reviews-container {
    flex-direction: row;
    justify-content: space-around;
  }
  .left-arrow {
    display: block;
    cursor: pointer;
    margin-bottom: 50px;
  }
  .left-arrow:hover {
    filter: invert(70%);
  }
  .right-arrow {
    display: block;
    cursor: pointer;
    margin-bottom: 50px;
  }
  .right-arrow:hover {
    filter: invert(70%);
  }
  .review-elements {
    display: flex;
  }
  .element {
    margin-right: 10px;
    margin-left: 10px;
  }
  .review {
    width: 200px;
  }
}
@media screen and (min-width: 992px) {
  .element {
    margin-right: 20px;
    margin-left: 20px;
  }
  .review {
    width: 273px;
  }
}
@media screen and (min-width: 1224px) {
  .testimonial-content-container {
    flex-direction: row;
    width: 1105px;
    margin: auto;
    justify-content: space-between;
  }
  .reviews-container {
    justify-content: space-between;
  }
  .review-elements {
    min-width: 1059px;
    justify-content: space-around;
  }
}
